<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-fragments :: head('Home page')}">
    <title></title>
</head>

<body style="background-color: #1c1c1c; min-height: 100vh;">

<div class="container d-flex flex-column align-items-center justify-content-center"
     style="height: 100vh; text-align: center;">

    <div class="mb-4">
        <img th:src="@{/images/logo.png}" height="150" alt="user management logo">
        <img th:src="@{/images/management.png}" height="150" alt="user management logo2">
    </div>

    <div style="width: 300px; font-size: xx-large; font-weight: bold;">
        <a th:href="@{/auth/login}"
           class="text-decoration-none"
           style="float:left; color: #68b3e3;">
            LOGIN
        </a>

        <a th:href="@{/auth/register}"
           class="text-decoration-none"
           style="float:right; color:#68b3e3;">
            SIGN UP
        </a>
    </div>

</div>

</body>
</html>
