<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head-fragments :: head('Users page')"></head>
<body>

<header>
    <nav th:replace="fragments/navbar-fragments :: header-navbar"></nav>
</header>
<section class="container">
    <h1>Users page</h1>
    <hr>

    <table>
        <thead>
        <tr>
            <th>User id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Role name</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList} ">

            <td th:text="${user.userId}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.role.roleName}"></td>
            <td th:text="${user.dateAdded}"></td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>